<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Jogos</title>
</head>

<body>
    <header> <%- include("partials/header")%></header>

        <section>
            <article>
                <ul>
                    <%
                    // const pagina = 0
                    // const paginaLabel = 1
                    const totalForPages = 6;
                    const inicio = pagina * totalForPages;
                    const fim = Math.min(inicio + totalForPages, resultado.length);


                    %>
                    <% for (let i=inicio; i<fim; i++) { %>
                        <li>
                            <a href="/game?name=<%= resultado[i].title %>" class="item">
                                <img src="<%= resultado[i].url %>" alt="capa <%= resultado[i].title %>" width="300px" height="200px">
                                <span><%= resultado[i].title %></span>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </article>

        </section>
    <div class="paginator">
        <a href="/game/index/t=<%=pagina  %>"><button class="pagDown btn btn-dark"><</button></a>
        <%=pagina + 1%>
        <a href="/game/index/f=<%=pagina  %>"><button class="pagUp btn btn-dark">></button></a>
    </div>


        <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>